.heores-title{
    color: #4a4a4a;
}

.p-inputgroup span{
    color: #ffffff;
    background-color: #404f61;
}
.p-inputgroup{
    width: 300px;
}

.heroe-grph{
    margin-bottom: 5px;
    cursor: pointer;
}

.heroe-grph input:hover{
    color: #ffffff;
    background-color: #404f61;
}
.heroe-grph input{
    cursor: pointer;
}
